<div class="navbar bg-base-100">
    <a href="/" class="<%= (page === '/') ? 'active' : '' %>">Lego Collection</a>
    <ul>
        <li><a class="<%= (page === '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
        <li><a class="<%= (page === '/lego/addSet') ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
    </ul>
    <a href="/about" class="<%= (page === '/about') ? 'active' : '' %>">About</a>
</div>
