<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            background-image: url('https://i.pinimg.com/originals/08/96/51/0896511df173f914d1ee6bd45bcfac82.jpg');
            padding: 0;
        }
        .navbar {
            background-color: #a300d9;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }
        .navbar a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        .navbar a:hover {
            text-decoration: underline;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ECECEC90;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .hero {
            background-color: #f44336; 
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        .btn {
            background-color: #fff;
            color: #0074d9;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }
        .btn:hover {
            background-color: #eee;
        }
    </style>
    <title>Lego Collection - 500 Error</title>
</head>
<body>
    <div class="navbar bg-base-100">
        <a href="/" class="<%= (page === '/') ? 'active' : '' %>">Lego Collection</a>
        <ul>
            
            <li><a class="<%= (page === '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
            <li><a class="<%= (page === '/lego/addSet') ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
        </ul>

        
        <a href="/about" class="<%= (page === '/about') ? 'active' : '' %>">About</a>
    </div>
    <div class="container">
        <div class="hero">
            <h1>500 - Internal Server Error</h1>
            <p>Oops! Something went wrong on our end. Please try again later.</p>
        </div>
    </div>
</body>
</html>
