<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User History</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            background-image: url('https://i.pinimg.com/originals/08/96/51/0896511df173f914d1ee6bd45bcfac82.jpg');
            background-repeat: repeat;
        }

        .navbar {
            background-color: #a300d9;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }

        .navbar a:hover {
            text-decoration: underline;
        }
        .navbar ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .navbar ul li {
            margin-right: 15px;
        }

        .navbar ul li:last-child {
            margin-right: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #e5e9ea;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .hero {
            background-color: #9fec25;
            color: #fff;
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
        }


        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #0074d9;
            color: #fff;
        }

        .btn {
            background-color: #fff;
            color: #0074d9;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            display: inline-block;
            margin-top: 10px;
        }

        .btn:hover {
            background-color: #eee;
        }
    </style>
</head>
<%- include('partials/navbar', {page: '/'}) %>
<body>
  <div class="container">
    <div class="hero">
        <h1>User History</h1>
        <p>Welcome back, <%= session.user.userName %>!</p>
    </div>

    <table>
        <thead>
            <tr>
                <th>Login Date/Time</th>
                <th>Client Information</th>
            </tr>
        </thead>
        <tbody>
            <% session.user.loginHistory.forEach(entry => { %>
                <tr>
                    <td><%= entry.dateTime %></td>
                    <td><%= entry.userAgent %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</body>

</html>
